-- 创建数据库
CREATE DATABASE IF NOT EXISTS travel DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE travel;

-- 创建文件表
CREATE TABLE IF NOT EXISTS `file` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '文件id',
    `uuid` varchar(64) NOT NULL COMMENT '文件uuid',
    `path` varchar(500) NOT NULL COMMENT '文件路径',
    `type` varchar(50) NOT NULL COMMENT '文件类型',
    `extension` varchar(20) NOT NULL COMMENT '文件扩展名',
    `size` bigint(20) NOT NULL COMMENT '文件大小(字节)',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_uuid` (`uuid`),
    KEY `idx_type` (`type`),
    KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='文件表';

-- 创建用户表
CREATE TABLE IF NOT EXISTS `user` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '用户ID',
    `username` varchar(50) NOT NULL COMMENT '用户名',
    `open_id` varchar(100) DEFAULT NULL COMMENT '微信openId',
    `avatar` varchar(500) DEFAULT NULL COMMENT '头像',
    `nickname` varchar(50) DEFAULT NULL COMMENT '昵称',
    `phone` varchar(20) DEFAULT NULL COMMENT '电话号码',
    `password` varchar(100) DEFAULT NULL COMMENT '密码',
    `role` enum('ADMIN','USER') NOT NULL DEFAULT 'USER' COMMENT '角色',
    `language` enum('ZH_CN','EN_US') NOT NULL DEFAULT 'ZH_CN' COMMENT '用户语言习惯',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    UNIQUE KEY `uk_username` (`username`),
    UNIQUE KEY `uk_open_id` (`open_id`),
    KEY `idx_phone` (`phone`),
    KEY `idx_role` (`role`),
    KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='用户表';

-- 插入管理员数据
INSERT INTO `user` (`username`, `password`, `role`, `nickname`, `phone`) VALUES 
('admin', '$2a$10$gee140kpV/mTLgoEJAMO6euIy2zTBPoMcGHofxgD6lpwCwRDN41ye', 'ADMIN', '管理员', '13800138000');

-- 创建景点表
CREATE TABLE IF NOT EXISTS `attraction` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '景点ID',
    `title` varchar(200) NOT NULL COMMENT '景点标题',
    `title_en` varchar(200) DEFAULT NULL COMMENT '景点英文标题',
    `description` text COMMENT '景点描述',
    `description_en` text COMMENT '景点英文描述',
    `sort` int(11) NOT NULL DEFAULT 0 COMMENT '景点排序',
    `cover_image_id` bigint(20) DEFAULT NULL COMMENT '封面图片ID',
    `content` longtext COMMENT '景点内容',
    `content_en` longtext COMMENT '景点英文内容',
    `location` varchar(200) DEFAULT NULL COMMENT '景点位置',
    `latitude` decimal(10,8) DEFAULT NULL COMMENT '纬度',
    `longitude` decimal(11,8) DEFAULT NULL COMMENT '经度',
    `is_enable` tinyint(1) NOT NULL DEFAULT 1 COMMENT '是否启用',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `content` longtext COMMENT '景点详情',
    `content_en` longtext COMMENT '景点详情(英文)',
    `cover_image_id` bigint(20) DEFAULT NULL COMMENT '封面图片ID',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    KEY `idx_title` (`title`),
    KEY `idx_sort` (`sort`),
    KEY `idx_cover_image_id` (`cover_image_id`),
    KEY `idx_is_enable` (`is_enable`),
    KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='景点表';

-- 创建景点图片关联表
CREATE TABLE IF NOT EXISTS `attraction_image` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '图片ID',
    `attraction_id` bigint(20) NOT NULL COMMENT '景点ID',
    `file_id` bigint(20) NOT NULL COMMENT '文件ID',
    `sort` int(11) NOT NULL DEFAULT 0 COMMENT '排序',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    KEY `idx_attraction_id` (`attraction_id`),
    KEY `idx_file_id` (`file_id`),
    KEY `idx_sort` (`sort`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='景点图片关联表';

-- 创建攻略表
CREATE TABLE IF NOT EXISTS `guide` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '攻略ID',
    `title` varchar(200) NOT NULL COMMENT '攻略标题',
    `title_en` varchar(200) DEFAULT NULL COMMENT '攻略英文标题',
    `type` varchar(50) NOT NULL COMMENT '攻略类型',
    `sort` int(11) NOT NULL DEFAULT 0 COMMENT '攻略排序',
    `cover_image_id` bigint(20) DEFAULT NULL COMMENT '封面图片ID',
    `content` longtext COMMENT '攻略内容',
    `content_en` longtext COMMENT '攻略英文内容',
    `markdown_uuid` varchar(64) DEFAULT NULL COMMENT 'markdown文件UUID',
    `is_enable` tinyint(1) NOT NULL DEFAULT 1 COMMENT '是否启用',
    `is_recommend` tinyint(1) NOT NULL DEFAULT 0 COMMENT '是否推荐',
    `click_count` bigint(20) NOT NULL DEFAULT 0 COMMENT '点击量',
    `like_count` bigint(20) NOT NULL DEFAULT 0 COMMENT '点赞量',
    `collect_count` bigint(20) NOT NULL DEFAULT 0 COMMENT '收藏量',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    KEY `idx_title` (`title`),
    KEY `idx_type` (`type`),
    KEY `idx_sort` (`sort`),
    KEY `idx_cover_image_id` (`cover_image_id`),
    KEY `idx_markdown_uuid` (`markdown_uuid`),
    KEY `idx_is_enable` (`is_enable`),
    KEY `idx_is_recommend` (`is_recommend`),
    KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='攻略表';

-- 创建轮播图表
CREATE TABLE IF NOT EXISTS `banner` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '轮播图ID',
    `title` varchar(200) NOT NULL COMMENT '轮播图标题',
    `image_url` varchar(500) NOT NULL COMMENT '轮播图URL',
    `link_url` varchar(500) DEFAULT NULL COMMENT '跳转链接',
    `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT '排序',
    `is_enable` tinyint(1) NOT NULL DEFAULT 1 COMMENT '是否启用',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    KEY `idx_sort_order` (`sort_order`),
    KEY `idx_is_enable` (`is_enable`),
    KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='轮播图表';

-- 创建产品分类表
CREATE TABLE IF NOT EXISTS `category` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '分类ID',
    `name` varchar(100) NOT NULL COMMENT '分类名称',
    `name_en` varchar(100) DEFAULT NULL COMMENT '分类英文名称',
    `description` varchar(500) DEFAULT NULL COMMENT '分类描述',
    `parent_id` bigint(20) DEFAULT NULL COMMENT '父分类ID',
    `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT '排序',
    `is_enable` tinyint(1) NOT NULL DEFAULT 1 COMMENT '是否启用',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    KEY `idx_parent_id` (`parent_id`),
    KEY `idx_sort_order` (`sort_order`),
    KEY `idx_is_enable` (`is_enable`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='产品分类表';

-- 创建产品表
CREATE TABLE IF NOT EXISTS `product` (
    `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '产品ID',
    `name` varchar(200) NOT NULL COMMENT '产品名称',
    `name_en` varchar(200) DEFAULT NULL COMMENT '产品英文名称',
    `description` text COMMENT '产品描述',
    `description_en` text COMMENT '产品英文描述',
    `price` decimal(10,2) NOT NULL COMMENT '产品价格',
    `stock` int(11) NOT NULL DEFAULT 0 COMMENT '库存数量',
    `category_id` bigint(20) NOT NULL COMMENT '分类ID',
    `status` tinyint(1) NOT NULL DEFAULT 1 COMMENT '是否上架',
    `sales` int(11) NOT NULL DEFAULT 0 COMMENT '销量',
    `is_recommend` tinyint(1) NOT NULL DEFAULT 0 COMMENT '是否推荐',
    `is_hot` tinyint(1) NOT NULL DEFAULT 0 COMMENT '是否热门',
    `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
    `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
    PRIMARY KEY (`id`),
    KEY `idx_category_id` (`category_id`),
    KEY `idx_status` (`status`),
    KEY `idx_is_recommend` (`is_recommend`),
    KEY `idx_is_hot` (`is_hot`),
    KEY `idx_create_time` (`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='产品表';
